/* main images and their headers */
* {
    padding: 0;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}

body, html {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;

}

.main {
    background-image: url("images/brexitBG.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}

.section1 {
    background-color: #6f6565;
    background-size: cover;
    padding: 0;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
    height: 100vh;

}

/* videos */
video {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: absolute;
}

/* Parallax stuff */
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px);
}

/* Navbar adjustments */
.navbar {
    color: goldenrod;
    background-color: transparent;
}

li.nav-item {
    font-size: 150%;

    font-weight: bold;
}

.navbar-brand {
    height: 10px;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.nav > li > a {
    padding-bottom: 30px;
}
.nav > li > a:hover {
    background-color: transparent;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.dropdown-toggle {
    font-size: 20px;
    background-color: transparent;
    font-weight: bold;
}

.dropdown-menu {
    font-size: 15px;
    background-color: transparent;
    font-weight: bold;
}
   
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  .bgimg-1 {
            background-image: url("stock-internet.jpg");
            height: 100%;
            opacity: 1;
        }

        .bgimg-2 {
            background-image: url("images/images1/bg.jpg");
            height: 100%;
            opacity: 1;
        }*/

.caption {
    position: absolute;
    font-size: 50px;
    left: 0;
    top: 40vh;
    width: 100%;
    text-align: center;
    font-family: 'Quicksand'; 
    color: #a96727;
    font-weight: 600;
}

    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }


/* carousel css */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 840px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

    .affix + .container-fluid {
        padding-top: 70px;
    }
